#container-galerie-statica {
  padding: 10px;
  overflow: hidden;
}

#galerie-statica {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;

  width: 100%;

  /* Counter imagini */
  counter-reset: nr_imagini;

  figure {
    margin: 0;
    padding: 0;

    /* Efecte hover */
    &:hover {
      figcaption {
        background-color: var(--culoare_text);
        color: var(--culoare_highlight);
      }

      img {
        transform: scale(130%) translateY(-11.53%); /* (translateY / 100) * scale = (scale - 100) / 2 */
      }
    }

    * {
      transition: all 1250ms linear;
    }
  }

  img {
    width: 100%;
    height: 200px;
  }

  figcaption {
    text-align: center;

    /* Afisam counterul in descrierea fiecarei imagini */
    &::before {
      counter-increment: nr_imagini;
      content: counter(nr_imagini, lower-alpha) ")";
    }
  }
}

/* Galerie pentru ecran mare */
@media screen and (min-width: 1201px) {
  /* primele 4 imagini */
  @for $i from 1 through 4 {
    #galerie-statica figure:nth-child(#{$i}) {
      grid-area: 1/#{$i}/2/#{$i + 1};
    }
  }

  /* imaginile 5 si 6 */
  #galerie-statica figure:nth-child(5) {
    grid-area: 2/1/3/2;
  }
  #galerie-statica figure:nth-child(6) {
    grid-area: 2/4/3/5;
  }

  /* ultimele 4 imagini */
  @for $i from 7 through 10 {
    #galerie-statica figure:nth-child(#{$i}) {
      grid-area: 3/#{$i - 6}/4/#{$i - 5};
    }
  }
}

/* Galerie pentru ecran mediu */
@media screen and (max-width: 1200px) {
  #galerie-statica {
    grid-template-columns: repeat(2, 1fr);

    figure {
      text-align: center;
    }

    img {
      max-width: 300px;
    }
  }
}

/* Galerie pentru ecran mic */
@media screen and (max-width: 700px) {
  #galerie-statica {
    grid-template-columns: repeat(1, 1fr);

    figure {
      text-align: center;
    }

    img {
      max-width: 300px;
    }
  }
}