/* Container navbar */
#nav-container {
    background: var(--culoare_border);
    margin: 0;
}

/* Buton meniu hamburger */
#hamburger-icon, #nav-container > i {
    display: none;
}

/* Navigator principal */
#nav {
    --inaltime-buton: 30px;
    --minus-inaltime-buton: -30px;
    background-color: var(--culoare_border);
    height: var(--inaltime-buton);
    position: relative;
    z-index: 10;
    font-size: var(--font-large);
}

/* Lista neordonata principala */
#nav-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

#nav-list > li {
    /* Link-urile principale */
    background-color: var(--culoare_border);
    list-style-type: none;
    width: 150px;
    height: var(--inaltime-buton);
}

#nav-list > li:hover > a {
    /* Animatie drop shadow pentru butoanele pricipale */
    animation: drop-shadow var(--durata-animatie) linear;
}

#nav-list li > a, #nav-list div {
    /* Butoanele (din meniul principal si cele secundare) */
    padding-left: 6px;
    color: var(--culoare_text);
    font-weight: bold;
    line-height: var(--inaltime-buton);
    text-decoration: none;
}

#nav-list .submenu > li {
    /* Link-urile secundare */
    background-color: var(--culoare_border);
    list-style-type: none;
    width: 150px;
    height: var(--inaltime-buton);
}

#nav-list .submenu li > a {
    /* Butoanele din meniul secundar */
    text-decoration: underline 2px;
    text-decoration-color: transparent;
}

#nav-list .submenu > li:hover > a {
    /* Animatie underline pentru butoanele din meniurile secundare */
    text-decoration-color: var(--culoare_text);
    transition: text-decoration-color var(--durata-animatie) linear;
}

#nav-list li:hover {
    /* Animatie background pentru toate butoanele */
    background-color: var(--culoare_secundara);
    transition: background-color var(--durata-animatie) linear;
}

/* Submeniul se deschide in momentul hover-ului */
.submenu-head:hover .submenu {
    display: block;
}

/* Lista neordonata secundara */
.submenu {
    margin: 0;
    padding: 0;
    display: none;
    transform-origin: top;
    animation: drop-down var(--durata-animatie) linear;
}

/* Animatie dropdown */
@keyframes drop-down {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

/* Animatie umbra */
@keyframes drop-shadow {
    0% {
        text-shadow: black 0 var(--minus-inaltime-buton);
    }
    100% {
        text-shadow: black 0 0;
    }
}

/* Navigator pentru ecran mediu */
@media screen and (max-width: 1200px) {
    #home-btn-text {
        display: none;
    }

    #nav {
        font-size: var(--font-medium);
        text-align: center;
    }

    #nav-list li > a, #nav-list div {
        padding-left: 0;
    }
}