<!DOCTYPE html>
<html lang="ro">
<head>
    <meta name="description" content="Cos virtual">
    <meta name="keywords" content="magazinul, Cartianul, cos, cumparaturi">

    <!--<link rel="stylesheet" href="/resurse/css/cos-virtual.css" type="text/css" />-->

    <title>Cos virtual</title>

    <%- include("../fragmente/head") %>

    <!--JS-->
    <script type="text/javascript" src="/resurse/js/cos_virtual.js"></script>

</head>

<body>
<%- include("../fragmente/header") %>

<main>
    <button id="cumpara">
        Cumpara
    </button>
</main>

<%- include("../fragmente/footer") %>
</body>

</html>