<!DOCTYPE html>

<html lang="ro">

<head>
    <title>Galerie statica</title>
    <meta
            name="keywords"
            content="galerie, statica, imagini"
    />

    <!--Metainformatii & favico-->
    <%- include("../fragmente/head.ejs"); %>

    <!--CSS galerie statica-->
    <link href="/resurse/scss/galerie_statica.css" rel="stylesheet" type="text/css"/>

</head>

<body>

<!--Header-->
<%- include("../fragmente/header.ejs"); %>


<!--Galerie statica-->
<%- include("../fragmente/galerie_statica.ejs"); %>

<!--Footer-->
<%- include("../fragmente/footer.ejs"); %>

</body>
</html>
