<!DOCTYPE html>
<html lang="ro">
<head>
    <meta name="description" content="Cartianul - Logout">
    <meta name="keywords" content="Cartianul, librarie, logout">

    <!--        <link rel="stylesheet" href="/resurse/css/produse.css" type="text/css" />-->
    <title>Cartianul - Logout</title>
    <%- include("../fragmente/head") %>
</head>

<body>
<%- include("../fragmente/header") %>

<main>
    Ai fost delogat!
</main>

<footer>
    <%- include('../fragmente/footer') %>
</footer>
</body>

</html>