<!DOCTYPE html>
<html lang="ro">
<head>
    <title>Profil</title>
    <%- include("../fragmente/head") %>

</head>

<body>

<header>
    <%- include("../fragmente/header") %>
</header>

<main>
    <div class="container">
        <p><%- locals.mesaj %></p>
    </div>
</main>

<%- include("../fragmente/footer") %>

</body>

</html>