/* Sectiune filtrare */
#filter-section {
    padding: var(--section-padding);
    --filter-section-padding: 4px;
}

.container-inp-nume, .container-inp-nr-pag, .container-inp-pret, .container-inp-categorie, .container-inp-gen-literar,.container-butoane {
    width: 300px;
    margin-bottom: 4px;
    padding: var(--filter-section-padding);
    border: 2px solid var(--culoare_text);
}

.container-butoane button {
    margin: var(--filter-section-padding);
}

#inp-gen-literar {
    width: 200px;
    height: 100px;
}

/* Sectiune produse */
#heading-tip-produse {
    text-align: center;
}

#produse {
    padding: var(--section-padding);
}

.produs {
    padding: var(--section-padding);
    margin-bottom: var(--section-padding);

    border: 2px solid var(--culoare_text);
    border-radius: 10px;
}

.val-nume {
    color: var(--culoare_text);
}

#produse a {
    text-decoration: none;
}

/* Informatii produse */
.info-prod > table {
    width: 300px;
    text-align: center;
    border: 1px solid var(--culoare_text);
}

.info-prod > table td {
    border: 1px solid var(--culoare_text);
}

/* Grid produse */
.grid-produse {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: var(--section-padding);
}

.grid-produse > .produs {
    margin: var(--section-padding);
    width: 40%;
}

/* Grid produse pentru ecran mediu si mic */
@media screen and (max-width: 850px) {
    .grid-produse > .produs {
        width: 80%;
    }
}