/* Sectiune filtrare */
main {
    --filter-section-padding: 4px;
    --product-section-padding: 10px;
}

#filter-section {
    padding: var(--filter-section-padding);
}

.container-inp-nume, .container-inp-nr-pag, .container-inp-pret, .container-inp-categorie, .container-inp-gen-literar, .container-butoane {
    width: 300px;
    margin-bottom: 4px;
    padding: var(--filter-section-padding);
    border: 2px solid var(--culoare_text);
}

.container-butoane button {
    margin: var(--filter-section-padding);
}

#inp-gen-literar {
    width: 200px;
    height: 100px;
}

.filter-col {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

/* Sectiune produse */
#heading-tip-produse {
    text-align: center;
}

#produse {
    padding: var(--section-padding);
}

#produse a {
    text-decoration: none;
}

.produs {
    padding: var(--section-padding);
    margin-bottom: var(--section-padding);

    border: 2px solid var(--culoare_text);
    border-radius: 10px;
}

.val-nume, .val-descriere {
    color: var(--culoare_text);
}

/* Grupaj info-produs si imagine */
#info-img-container {
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
}

.produs figure {
    margin: 0;
}

.produs figure > img {
    margin: 0;
    padding: 0;
}

/* Tabel informatii produse */
.info-prod > table {
    width: 300px;
    text-align: center;
    border: 1px solid var(--culoare_text);
    margin-right: var(--product-section-padding);
    margin-bottom: var(--product-section-padding);
}

.info-prod > table td {
    border: 1px solid var(--culoare_text);
}

/* Sectiune produse */
#product-section {
    margin: 10px;
    padding: 10px;
}