#container-galerie-animata {
  width: 400px;
  height: 300px;
  position: relative;
  border: 10px solid transparent;
  border-image: url("/resurse/imagini/background_tabel.png") 10;
  overflow: hidden;
}
#container-galerie-animata * {
  margin: 0;
  padding: 0;
}
#container-galerie-animata figure {
  position: relative;
  width: 400px;
  height: 300px;
  text-align: center;
}
#container-galerie-animata figure img {
  width: 400px;
  height: 300px;
}
#container-galerie-animata figure figcaption {
  /* Pozitionare in partea de jos a figure-ului */
  position: absolute;
  bottom: 0;
  /* Centrare pe orizontala */
  width: 100%;
  margin: auto;
  background-color: var(--culoare_background);
  color: var(--culoare_text);
  font-weight: bold;
}

#galerie-animata {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  width: 1200px;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: repeat(3, 300px);
  grid-row-gap: 0;
  grid-column-gap: 0;
  animation: grid_animat linear 100s infinite;
}
#galerie-animata:hover {
  animation-play-state: paused;
}

/* Animatie grid */
@keyframes grid_animat {
  0% {
    top: 0px;
    left: 0px;
    transform: none;
  }
  5.5555555556% {
    top: 0px;
    left: 0px;
    transform: none;
  }
  6.6666666667% {
    top: 0px;
    left: 0px;
    transform-origin: 200px 150px;
    transform: rotate(360deg);
  }
  7.7777777778% {
    top: 0px;
    left: 0px;
    transform-origin: 200px 150px;
    transform: rotate(-360deg);
  }
  7.7787777778% {
    top: 0px;
    left: 0px;
    transform: none;
  }
  11.1111111111% {
    top: -300px;
    left: 0px;
    transform: none;
  }
  16.6666666667% {
    top: -300px;
    left: 0px;
    transform: none;
  }
  17.7777777778% {
    top: -300px;
    left: 0px;
    transform-origin: 200px 450px;
    transform: rotate(360deg);
  }
  18.8888888889% {
    top: -300px;
    left: 0px;
    transform-origin: 200px 450px;
    transform: rotate(-360deg);
  }
  18.8898888889% {
    top: -300px;
    left: 0px;
    transform: none;
  }
  22.2222222222% {
    top: -300px;
    left: -800px;
    transform: none;
  }
  27.7777777778% {
    top: -300px;
    left: -800px;
    transform: none;
  }
  28.8888888889% {
    top: -300px;
    left: -800px;
    transform-origin: 1000px 450px;
    transform: rotate(360deg);
  }
  30% {
    top: -300px;
    left: -800px;
    transform-origin: 1000px 450px;
    transform: rotate(-360deg);
  }
  30.001% {
    top: -300px;
    left: -800px;
    transform: none;
  }
  33.3333333333% {
    top: -300px;
    left: -400px;
    transform: none;
  }
  38.8888888889% {
    top: -300px;
    left: -400px;
    transform: none;
  }
  40% {
    top: -300px;
    left: -400px;
    transform-origin: 600px 450px;
    transform: rotate(360deg);
  }
  41.1111111111% {
    top: -300px;
    left: -400px;
    transform-origin: 600px 450px;
    transform: rotate(-360deg);
  }
  41.1121111111% {
    top: -300px;
    left: -400px;
    transform: none;
  }
  44.4444444444% {
    top: 0px;
    left: -400px;
    transform: none;
  }
  50% {
    top: 0px;
    left: -400px;
    transform: none;
  }
  51.1111111111% {
    top: 0px;
    left: -400px;
    transform-origin: 600px 150px;
    transform: rotate(360deg);
  }
  52.2222222222% {
    top: 0px;
    left: -400px;
    transform-origin: 600px 150px;
    transform: rotate(-360deg);
  }
  52.2232222222% {
    top: 0px;
    left: -400px;
    transform: none;
  }
  55.5555555556% {
    top: 0px;
    left: -800px;
    transform: none;
  }
  61.1111111111% {
    top: 0px;
    left: -800px;
    transform: none;
  }
  62.2222222222% {
    top: 0px;
    left: -800px;
    transform-origin: 1000px 150px;
    transform: rotate(360deg);
  }
  63.3333333333% {
    top: 0px;
    left: -800px;
    transform-origin: 1000px 150px;
    transform: rotate(-360deg);
  }
  63.3343333333% {
    top: 0px;
    left: -800px;
    transform: none;
  }
  66.6666666667% {
    top: -600px;
    left: -800px;
    transform: none;
  }
  72.2222222222% {
    top: -600px;
    left: -800px;
    transform: none;
  }
  73.3333333333% {
    top: -600px;
    left: -800px;
    transform-origin: 1000px 750px;
    transform: rotate(360deg);
  }
  74.4444444444% {
    top: -600px;
    left: -800px;
    transform-origin: 1000px 750px;
    transform: rotate(-360deg);
  }
  74.4454444444% {
    top: -600px;
    left: -800px;
    transform: none;
  }
  77.7777777778% {
    top: -600px;
    left: 0px;
    transform: none;
  }
  83.3333333333% {
    top: -600px;
    left: 0px;
    transform: none;
  }
  84.4444444444% {
    top: -600px;
    left: 0px;
    transform-origin: 200px 750px;
    transform: rotate(360deg);
  }
  85.5555555556% {
    top: -600px;
    left: 0px;
    transform-origin: 200px 750px;
    transform: rotate(-360deg);
  }
  85.5565555556% {
    top: -600px;
    left: 0px;
    transform: none;
  }
  88.8888888889% {
    top: -600px;
    left: -400px;
    transform: none;
  }
  94.4444444444% {
    top: -600px;
    left: -400px;
    transform: none;
  }
  95.5555555556% {
    top: -600px;
    left: -400px;
    transform-origin: 600px 750px;
    transform: rotate(360deg);
  }
  96.6666666667% {
    top: -600px;
    left: -400px;
    transform-origin: 600px 750px;
    transform: rotate(-360deg);
  }
  96.6676666667% {
    top: -600px;
    left: -400px;
    transform: none;
  }
  100% {
    top: 0;
    left: 0;
    transform: none;
  }
}
/* Ascundem galeria animata pe ecran mediu si mic */
@media screen and (max-width: 1200px) {
  #container-galerie-animata {
    display: none;
  }
}