#container-galerie-animata {
  width: 400px;
  height: 300px;
  position: relative;
  border: 10px solid transparent;
  border-image: url("/resurse/imagini/background_tabel.png") 10;
  overflow: hidden;
}
#container-galerie-animata * {
  margin: 0;
  padding: 0;
}
#container-galerie-animata figure {
  position: relative;
  width: 400px;
  height: 300px;
  text-align: center;
}
#container-galerie-animata figure img {
  width: 400px;
  height: 300px;
}
#container-galerie-animata figure figcaption {
  /* Pozitionare in partea de jos a figure-ului */
  position: absolute;
  bottom: 0;
  /* Centrare pe orizontala */
  width: 100%;
  margin: auto;
  background-color: var(--culoare_background);
  color: var(--culoare_text);
  font-weight: bold;
}

#galerie-animata {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  width: 1200px;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: repeat(5, 300px);
  grid-row-gap: 0;
  grid-column-gap: 0;
  animation: grid_animat linear 100s infinite;
}
#galerie-animata:hover {
  animation-play-state: paused;
}

/* Animatie grid */
@keyframes grid_animat {
  0% {
    top: 0px;
    left: 0px;
    transform: none;
  }
  3.3333333333% {
    top: 0px;
    left: 0px;
    transform: none;
  }
  4% {
    top: 0px;
    left: 0px;
    transform-origin: 200px 150px;
    transform: rotate(360deg);
  }
  4.6666666667% {
    top: 0px;
    left: 0px;
    transform-origin: 200px 150px;
    transform: rotate(-360deg);
  }
  4.6676666667% {
    top: 0px;
    left: 0px;
    transform: none;
  }
  6.6666666667% {
    top: -300px;
    left: 0px;
    transform: none;
  }
  10% {
    top: -300px;
    left: 0px;
    transform: none;
  }
  10.6666666667% {
    top: -300px;
    left: 0px;
    transform-origin: 200px 450px;
    transform: rotate(360deg);
  }
  11.3333333333% {
    top: -300px;
    left: 0px;
    transform-origin: 200px 450px;
    transform: rotate(-360deg);
  }
  11.3343333333% {
    top: -300px;
    left: 0px;
    transform: none;
  }
  13.3333333333% {
    top: -300px;
    left: -800px;
    transform: none;
  }
  16.6666666667% {
    top: -300px;
    left: -800px;
    transform: none;
  }
  17.3333333333% {
    top: -300px;
    left: -800px;
    transform-origin: 1000px 450px;
    transform: rotate(360deg);
  }
  18% {
    top: -300px;
    left: -800px;
    transform-origin: 1000px 450px;
    transform: rotate(-360deg);
  }
  18.001% {
    top: -300px;
    left: -800px;
    transform: none;
  }
  20% {
    top: -300px;
    left: -400px;
    transform: none;
  }
  23.3333333333% {
    top: -300px;
    left: -400px;
    transform: none;
  }
  24% {
    top: -300px;
    left: -400px;
    transform-origin: 600px 450px;
    transform: rotate(360deg);
  }
  24.6666666667% {
    top: -300px;
    left: -400px;
    transform-origin: 600px 450px;
    transform: rotate(-360deg);
  }
  24.6676666667% {
    top: -300px;
    left: -400px;
    transform: none;
  }
  26.6666666667% {
    top: 0px;
    left: -400px;
    transform: none;
  }
  30% {
    top: 0px;
    left: -400px;
    transform: none;
  }
  30.6666666667% {
    top: 0px;
    left: -400px;
    transform-origin: 600px 150px;
    transform: rotate(360deg);
  }
  31.3333333333% {
    top: 0px;
    left: -400px;
    transform-origin: 600px 150px;
    transform: rotate(-360deg);
  }
  31.3343333333% {
    top: 0px;
    left: -400px;
    transform: none;
  }
  33.3333333333% {
    top: 0px;
    left: -800px;
    transform: none;
  }
  36.6666666667% {
    top: 0px;
    left: -800px;
    transform: none;
  }
  37.3333333333% {
    top: 0px;
    left: -800px;
    transform-origin: 1000px 150px;
    transform: rotate(360deg);
  }
  38% {
    top: 0px;
    left: -800px;
    transform-origin: 1000px 150px;
    transform: rotate(-360deg);
  }
  38.001% {
    top: 0px;
    left: -800px;
    transform: none;
  }
  40% {
    top: -600px;
    left: -800px;
    transform: none;
  }
  43.3333333333% {
    top: -600px;
    left: -800px;
    transform: none;
  }
  44% {
    top: -600px;
    left: -800px;
    transform-origin: 1000px 750px;
    transform: rotate(360deg);
  }
  44.6666666667% {
    top: -600px;
    left: -800px;
    transform-origin: 1000px 750px;
    transform: rotate(-360deg);
  }
  44.6676666667% {
    top: -600px;
    left: -800px;
    transform: none;
  }
  46.6666666667% {
    top: -600px;
    left: 0px;
    transform: none;
  }
  50% {
    top: -600px;
    left: 0px;
    transform: none;
  }
  50.6666666667% {
    top: -600px;
    left: 0px;
    transform-origin: 200px 750px;
    transform: rotate(360deg);
  }
  51.3333333333% {
    top: -600px;
    left: 0px;
    transform-origin: 200px 750px;
    transform: rotate(-360deg);
  }
  51.3343333333% {
    top: -600px;
    left: 0px;
    transform: none;
  }
  53.3333333333% {
    top: -600px;
    left: -400px;
    transform: none;
  }
  56.6666666667% {
    top: -600px;
    left: -400px;
    transform: none;
  }
  57.3333333333% {
    top: -600px;
    left: -400px;
    transform-origin: 600px 750px;
    transform: rotate(360deg);
  }
  58% {
    top: -600px;
    left: -400px;
    transform-origin: 600px 750px;
    transform: rotate(-360deg);
  }
  58.001% {
    top: -600px;
    left: -400px;
    transform: none;
  }
  60% {
    top: -900px;
    left: -400px;
    transform: none;
  }
  63.3333333333% {
    top: -900px;
    left: -400px;
    transform: none;
  }
  64% {
    top: -900px;
    left: -400px;
    transform-origin: 600px 1050px;
    transform: rotate(360deg);
  }
  64.6666666667% {
    top: -900px;
    left: -400px;
    transform-origin: 600px 1050px;
    transform: rotate(-360deg);
  }
  64.6676666667% {
    top: -900px;
    left: -400px;
    transform: none;
  }
  66.6666666667% {
    top: -900px;
    left: -800px;
    transform: none;
  }
  70% {
    top: -900px;
    left: -800px;
    transform: none;
  }
  70.6666666667% {
    top: -900px;
    left: -800px;
    transform-origin: 1000px 1050px;
    transform: rotate(360deg);
  }
  71.3333333333% {
    top: -900px;
    left: -800px;
    transform-origin: 1000px 1050px;
    transform: rotate(-360deg);
  }
  71.3343333333% {
    top: -900px;
    left: -800px;
    transform: none;
  }
  73.3333333333% {
    top: -900px;
    left: 0px;
    transform: none;
  }
  76.6666666667% {
    top: -900px;
    left: 0px;
    transform: none;
  }
  77.3333333333% {
    top: -900px;
    left: 0px;
    transform-origin: 200px 1050px;
    transform: rotate(360deg);
  }
  78% {
    top: -900px;
    left: 0px;
    transform-origin: 200px 1050px;
    transform: rotate(-360deg);
  }
  78.001% {
    top: -900px;
    left: 0px;
    transform: none;
  }
  80% {
    top: -1200px;
    left: -400px;
    transform: none;
  }
  83.3333333333% {
    top: -1200px;
    left: -400px;
    transform: none;
  }
  84% {
    top: -1200px;
    left: -400px;
    transform-origin: 600px 1350px;
    transform: rotate(360deg);
  }
  84.6666666667% {
    top: -1200px;
    left: -400px;
    transform-origin: 600px 1350px;
    transform: rotate(-360deg);
  }
  84.6676666667% {
    top: -1200px;
    left: -400px;
    transform: none;
  }
  86.6666666667% {
    top: -1200px;
    left: -800px;
    transform: none;
  }
  90% {
    top: -1200px;
    left: -800px;
    transform: none;
  }
  90.6666666667% {
    top: -1200px;
    left: -800px;
    transform-origin: 1000px 1350px;
    transform: rotate(360deg);
  }
  91.3333333333% {
    top: -1200px;
    left: -800px;
    transform-origin: 1000px 1350px;
    transform: rotate(-360deg);
  }
  91.3343333333% {
    top: -1200px;
    left: -800px;
    transform: none;
  }
  93.3333333333% {
    top: -1200px;
    left: 0px;
    transform: none;
  }
  96.6666666667% {
    top: -1200px;
    left: 0px;
    transform: none;
  }
  97.3333333333% {
    top: -1200px;
    left: 0px;
    transform-origin: 200px 1350px;
    transform: rotate(360deg);
  }
  98% {
    top: -1200px;
    left: 0px;
    transform-origin: 200px 1350px;
    transform: rotate(-360deg);
  }
  98.001% {
    top: -1200px;
    left: 0px;
    transform: none;
  }
  100% {
    top: 0;
    left: 0;
    transform: none;
  }
}
/* Ascundem galeria animata pe ecran mediu si mic */
@media screen and (max-width: 1200px) {
  #container-galerie-animata {
    display: none;
  }
}