#container-galerie-animata {
  width: 400px;
  height: 300px;
  position: relative;
  border: 10px solid transparent;
  border-image: url("/resurse/imagini/background_tabel.png") 10;
  overflow: hidden;
}
#container-galerie-animata * {
  margin: 0;
  padding: 0;
}
#container-galerie-animata figure {
  position: relative;
  width: 400px;
  height: 300px;
  text-align: center;
}
#container-galerie-animata figure img {
  width: 400px;
  height: 300px;
}
#container-galerie-animata figure figcaption {
  /* Pozitionare in partea de jos a figure-ului */
  position: absolute;
  bottom: 0;
  /* Centrare pe orizontala */
  width: 100%;
  margin: auto;
  background-color: var(--culoare_background);
  color: var(--culoare_text);
  font-weight: bold;
}

#galerie-animata {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  width: 1200px;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: repeat(4, 300px);
  grid-row-gap: 0;
  grid-column-gap: 0;
  animation: grid_animat linear 100s infinite;
}
#galerie-animata:hover {
  animation-play-state: paused;
}

/* Animatie grid */
@keyframes grid_animat {
  0% {
    top: 0px;
    left: 0px;
    transform: none;
  }
  4.1666666667% {
    top: 0px;
    left: 0px;
    transform: none;
  }
  5% {
    top: 0px;
    left: 0px;
    transform-origin: 200px 150px;
    transform: rotate(360deg);
  }
  5.8333333333% {
    top: 0px;
    left: 0px;
    transform-origin: 200px 150px;
    transform: rotate(-360deg);
  }
  5.8343333333% {
    top: 0px;
    left: 0px;
    transform: none;
  }
  8.3333333333% {
    top: -300px;
    left: 0px;
    transform: none;
  }
  12.5% {
    top: -300px;
    left: 0px;
    transform: none;
  }
  13.3333333333% {
    top: -300px;
    left: 0px;
    transform-origin: 200px 450px;
    transform: rotate(360deg);
  }
  14.1666666667% {
    top: -300px;
    left: 0px;
    transform-origin: 200px 450px;
    transform: rotate(-360deg);
  }
  14.1676666667% {
    top: -300px;
    left: 0px;
    transform: none;
  }
  16.6666666667% {
    top: -300px;
    left: -800px;
    transform: none;
  }
  20.8333333333% {
    top: -300px;
    left: -800px;
    transform: none;
  }
  21.6666666667% {
    top: -300px;
    left: -800px;
    transform-origin: 1000px 450px;
    transform: rotate(360deg);
  }
  22.5% {
    top: -300px;
    left: -800px;
    transform-origin: 1000px 450px;
    transform: rotate(-360deg);
  }
  22.501% {
    top: -300px;
    left: -800px;
    transform: none;
  }
  25% {
    top: -300px;
    left: -400px;
    transform: none;
  }
  29.1666666667% {
    top: -300px;
    left: -400px;
    transform: none;
  }
  30% {
    top: -300px;
    left: -400px;
    transform-origin: 600px 450px;
    transform: rotate(360deg);
  }
  30.8333333333% {
    top: -300px;
    left: -400px;
    transform-origin: 600px 450px;
    transform: rotate(-360deg);
  }
  30.8343333333% {
    top: -300px;
    left: -400px;
    transform: none;
  }
  33.3333333333% {
    top: 0px;
    left: -400px;
    transform: none;
  }
  37.5% {
    top: 0px;
    left: -400px;
    transform: none;
  }
  38.3333333333% {
    top: 0px;
    left: -400px;
    transform-origin: 600px 150px;
    transform: rotate(360deg);
  }
  39.1666666667% {
    top: 0px;
    left: -400px;
    transform-origin: 600px 150px;
    transform: rotate(-360deg);
  }
  39.1676666667% {
    top: 0px;
    left: -400px;
    transform: none;
  }
  41.6666666667% {
    top: 0px;
    left: -800px;
    transform: none;
  }
  45.8333333333% {
    top: 0px;
    left: -800px;
    transform: none;
  }
  46.6666666667% {
    top: 0px;
    left: -800px;
    transform-origin: 1000px 150px;
    transform: rotate(360deg);
  }
  47.5% {
    top: 0px;
    left: -800px;
    transform-origin: 1000px 150px;
    transform: rotate(-360deg);
  }
  47.501% {
    top: 0px;
    left: -800px;
    transform: none;
  }
  50% {
    top: -600px;
    left: -800px;
    transform: none;
  }
  54.1666666667% {
    top: -600px;
    left: -800px;
    transform: none;
  }
  55% {
    top: -600px;
    left: -800px;
    transform-origin: 1000px 750px;
    transform: rotate(360deg);
  }
  55.8333333333% {
    top: -600px;
    left: -800px;
    transform-origin: 1000px 750px;
    transform: rotate(-360deg);
  }
  55.8343333333% {
    top: -600px;
    left: -800px;
    transform: none;
  }
  58.3333333333% {
    top: -600px;
    left: 0px;
    transform: none;
  }
  62.5% {
    top: -600px;
    left: 0px;
    transform: none;
  }
  63.3333333333% {
    top: -600px;
    left: 0px;
    transform-origin: 200px 750px;
    transform: rotate(360deg);
  }
  64.1666666667% {
    top: -600px;
    left: 0px;
    transform-origin: 200px 750px;
    transform: rotate(-360deg);
  }
  64.1676666667% {
    top: -600px;
    left: 0px;
    transform: none;
  }
  66.6666666667% {
    top: -600px;
    left: -400px;
    transform: none;
  }
  70.8333333333% {
    top: -600px;
    left: -400px;
    transform: none;
  }
  71.6666666667% {
    top: -600px;
    left: -400px;
    transform-origin: 600px 750px;
    transform: rotate(360deg);
  }
  72.5% {
    top: -600px;
    left: -400px;
    transform-origin: 600px 750px;
    transform: rotate(-360deg);
  }
  72.501% {
    top: -600px;
    left: -400px;
    transform: none;
  }
  75% {
    top: -900px;
    left: -400px;
    transform: none;
  }
  79.1666666667% {
    top: -900px;
    left: -400px;
    transform: none;
  }
  80% {
    top: -900px;
    left: -400px;
    transform-origin: 600px 1050px;
    transform: rotate(360deg);
  }
  80.8333333333% {
    top: -900px;
    left: -400px;
    transform-origin: 600px 1050px;
    transform: rotate(-360deg);
  }
  80.8343333333% {
    top: -900px;
    left: -400px;
    transform: none;
  }
  83.3333333333% {
    top: -900px;
    left: -800px;
    transform: none;
  }
  87.5% {
    top: -900px;
    left: -800px;
    transform: none;
  }
  88.3333333333% {
    top: -900px;
    left: -800px;
    transform-origin: 1000px 1050px;
    transform: rotate(360deg);
  }
  89.1666666667% {
    top: -900px;
    left: -800px;
    transform-origin: 1000px 1050px;
    transform: rotate(-360deg);
  }
  89.1676666667% {
    top: -900px;
    left: -800px;
    transform: none;
  }
  91.6666666667% {
    top: -900px;
    left: 0px;
    transform: none;
  }
  95.8333333333% {
    top: -900px;
    left: 0px;
    transform: none;
  }
  96.6666666667% {
    top: -900px;
    left: 0px;
    transform-origin: 200px 1050px;
    transform: rotate(360deg);
  }
  97.5% {
    top: -900px;
    left: 0px;
    transform-origin: 200px 1050px;
    transform: rotate(-360deg);
  }
  97.501% {
    top: -900px;
    left: 0px;
    transform: none;
  }
  100% {
    top: 0;
    left: 0;
    transform: none;
  }
}
/* Ascundem galeria animata pe ecran mediu si mic */
@media screen and (max-width: 1200px) {
  #container-galerie-animata {
    display: none;
  }
}