<script>
    const tema = localStorage.getItem("tema");
    if (tema) {
        document.body.classList.add("dark");
    } else {
        document.body.classList.remove("dark");
    }
</script>
<header>
    <div id="nav-container">
        <input type="checkbox" id="hamburger-icon">
        <i class="fa-solid fa-bars"></i>
        <nav id="nav">
            <ul id="nav-list">
                <li><a href="/"><i class="fa-solid fa-house"></i> <span id="home-btn-text">Acasă</span></a>
                </li>
                <li class="submenu-head">
                    <div class="submenu-label">Pagini</div>
                    <ul class="submenu">
                        <li><a href="/#prezentare">Acasă</a></li>
                        <li><a href="/galerie_statica">Galerie statica</a></li>
                    </ul>
                </li>
                <li class="submenu-head">
                    <div class="submenu-label">Catalog</div>
                    <ul class="submenu">
                        <li><a href="/produse">Toate</a></li>
                        <% for (const tip of tipuriCarti) { %>
                            <li><a href="/produse?tip=<%- tip.unnest %>"><%- tip.unnest %></a></li>
                        <% } %>
                    </ul>
                </li>
                <li>
                    <a href="/despre">Despre</a>
                </li>
                <li>
                    <a href="/">Cos</a>
                </li>
                <li>
                    <a href="/inregistrare">Inregistrare</a>
                </li>
            </ul>
        </nav>
    </div>
    <h1>Magazinul Cartianul</h1>
</header>