div.afisaj {
    margin: var(--section-padding);
}

div.afisaj > h1 {
    padding: 0;
}

.inreg-error {
    font-weight: bold;
}

/* Formular inregistrare */
#form_inreg {
    padding: var(--section-padding);
    border: 1px solid black;
    border-radius: var(--section-padding);
}